<section
    class="elementor-section elementor-top-section elementor-element elementor-element-57e824e elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="57e824e" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2d01fb"
            data-id="e2d01fb" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-4fceb7f elementor-align-left elementor-widget elementor-widget-pages-header"
                    data-id="4fceb7f" data-element_type="widget" data-widget_type="pages-header.default">
                    <div class="elementor-widget-container">

                        <div class="banner-container">
                            <div class="banner-img"> <img decoding="async" class="banner-img-width"
                                    src="/ce-content/uploads/2021/06/topbanner-1-scaled.jpg" alt="">
                            </div>
                            <div class="banner-head">
                                <div class="banner-head-padding banner-head-margin">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="heading-meta">location</span>
                                                <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">
                                                    Contact Us</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section
    class="elementor-section elementor-top-section elementor-element elementor-element-ba33779 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="ba33779" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b8dad6c"
            data-id="b8dad6c" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-c5a0324 elementor-align-left elementor-widget elementor-widget-pages-contact"
                    data-id="c5a0324" data-element_type="widget" data-widget_type="pages-contact.default">
                    <div class="elementor-widget-container">

                        <div class="contact-section pt-0 pb-60">
                            <div class="container-fluid">
                                <div class="row pb-60">
                                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInLeft">
                                        <div class="line p-30">
                                            <p><i class="ti-location-pin"></i> <b>Tanzania</b></p>
                                            <p class="mb-0">2 street, Mbezi beach <br>Dar es salaam,
                                                Tanzania</p>
                                            <div class="separator"></div>
                                            <p>+255 684 536 440 <br>info@255events.tz</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInLeft">
                                        <div class="line p-30">
                                            <p><i class="ti-location-pin"></i> <b>Tanzania</b></p>
                                            <p class="mb-0">2 street, Mbezi beach <br>Dar es salaam,
                                                Tanzania</p>
                                            <div class="separator"></div>
                                            <p>+255 684 536 440 <br>info@255events.tz</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInLeft">
                                        <div class="line p-30">
                                            <p><i class="ti-location-pin"></i> <b>Tanzania</b></p>
                                            <p class="mb-0">2 street, Mbezi beach <br>Dar es salaam,
                                                Tanzania</p>
                                            <div class="separator"></div>
                                            <p>+255 684 536 440 <br>info@255events.tz</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Map Section-->
                                <div class="map-section">
                                    <div class="row">
                                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                            <h3 class="pwe-about-heading">Contact Form</h3>
                                            <p>We would like to hear from you</p>
                                            <div role="form" class="wpcf7" id="wpcf7-f8-p48-o1" lang="en-US" dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <form action="/contact"
                                                    method="post" class="wpcf7-form" novalidate="novalidate">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="8" />
                                                        <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                        <input type="hidden" name="_wpcf7_unit_tag"
                                                            value="wpcf7-f8-p48-o1" />
                                                        <input type="hidden" name="_wpcf7_container_post" value="48" />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="wpcf7-form-control-wrap your-name"><input
                                                                        type="text" name="form_name" value="" size="40"
                                                                        class="wpcf7-form-control wpcf7-text form-control"
                                                                        aria-invalid="false"
                                                                        placeholder="Name" /></span>
                                                            </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="wpcf7-form-control-wrap your-email"><input
                                                                        type="email" name="form_email" value=""
                                                                        size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                        aria-required="true" aria-invalid="false"
                                                                        placeholder="Email" /></span>
                                                            </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span
                                                                    class="wpcf7-form-control-wrap your-subject"><input
                                                                        type="text" name="form_phone" value=""
                                                                        size="40"
                                                                        class="wpcf7-form-control wpcf7-text form-control"
                                                                        aria-invalid="false"
                                                                        placeholder="Phone number" /></span>
                                                            </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span
                                                                    class="wpcf7-form-control-wrap your-subject"><input
                                                                        type="text" name="form_subject" value=""
                                                                        size="40"
                                                                        class="wpcf7-form-control wpcf7-text form-control"
                                                                        aria-invalid="false"
                                                                        placeholder="Subject" /></span>
                                                            </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <span
                                                                    class="wpcf7-form-control-wrap your-message"><textarea
                                                                        name="form_message" cols="40" rows="10"
                                                                        class="wpcf7-form-control wpcf7-textarea form-control"
                                                                        id="message" aria-invalid="false"
                                                                        placeholder="Message"></textarea></span>
                                                            </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="submit" value="Send Message!"
                                                                    class="wpcf7-form-control wpcf7-submit btn btn-contact" />
                                                            </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {{#if message}}
                                                    <div class="wpcf7-response-output">
                                                        <p>{{message}}</p>
                                                    </div>
                                                    {{/if}}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>